*{
 font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

:root{
 --error:#862B2B;
 --success:#80AC2F;
}

.page-wrapper{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;  
  align-items:center;      
  background:#f5f5f5;      
}

.main-container{
  width:60vw;
  max-width:1400px;
  height:80vh;
  display:flex;
  background:white;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 6px 40px rgba(0,0,0,0.5);
}

/* EXAKT 50 / 50 */
.main-container > *{
  flex:0 0 50%;
}



.error-banner{
 background:var(--error);
 color:white;
 padding:10px;
 border-radius:2px;
 margin-bottom:10px;
}

.success-border{
 border:2px solid var(--success)!important;
}

.error-border{
 border:2px solid var(--error)!important;
}

.popup-overlay{
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background:rgba(0,0,0,0.4);
 display:flex;
 align-items:center;
 justify-content:center;
 z-index:999;
}

.popup-box{
 background:white;
 padding:20px;
 border-radius:10px;
 width:350px;
 text-align:center;
}

/* Gemensam knapp */
.btn-custom {
  background: linear-gradient(90deg, #486515, #628A1E);
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.btn-custom:hover {
  filter: brightness(1.1);
  color: white;
}

.btn-custom:active {
  transform: scale(0.98);
}



/* Input med ikon */
.input-icon{
 position:relative;
}

.input-icon i{
 position:absolute;
 left:10px;
 top:50%;
 transform:translateY(-50%);
 color:black;
 font-size:18px;
}

.input-icon input{
 padding-left:35px;
}

/* Mindre BankID knappar */
.bankid-btn{
 padding:8px 12px;
}

.bankid-icon{
 height:20px;
 width:auto;
}

/* BankID layout */
.bankid-options{
 display:flex;
 flex-direction:column;
 gap:8px;
}

.logo-top{
 max-width:220px;
 display:block;
 margin:0 auto 20px auto;
}

/* Fake QR */
.qr-wrapper{
 display:flex;
 justify-content:center;
}

.fake-qr{
 width:180px;
 height:180px;
 background:
 repeating-linear-gradient(
   45deg,
   #000,
   #000 6px,
   #fff 6px,
   #fff 12px
 );
 border:6px solid #000;
}
